<div class="lg-page-banner {{ section.settings.background-color }}">
  {% render 'banner',
    title: section.settings.title,
    description: section.settings.description,
    highlight-1: section.settings.highlight-1,
    highlight-2: section.settings.highlight-2
  %}
</div>

{% schema %}
{
  "name": "Collections List Banner",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "background-color",
      "options": [
        {
          "value": "bg-dark",
          "label": "Dark"
        },
        {
          "value": "bg-light",
          "label": "Light"
        }
      ],
      "default": "bg-light",
      "label": "Background Color"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "t:sections.main-list-collections.settings.title.default"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Highlight 1"
    },
    {
      "type": "url",
      "id": "highlight-1",
      "label": "Page"
    },
    {
      "type": "header",
      "content": "Highlight 2"
    },
    {
      "type": "url",
      "id": "highlight-2",
      "label": "Page"
    }
  ]
}
{% endschema %}
