<div class="lg-page-banner {{ section.settings.background-color }}">
  {% render 'banner',
    title: collection.title,
    description: collection.description,
    highlight-1: section.settings.highlight-1,
    highlight-2: section.settings.highlight-2
  %}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "background-color",
      "options": [
        {
          "value": "bg-dark",
          "label": "Dark"
        },
        {
          "value": "bg-light",
          "label": "Light"
        }
      ],
      "default": "bg-light",
      "label": "Background Color"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "Highlight 1"
    },
    {
      "type": "url",
      "id": "highlight-1",
      "label": "Page"
    },
    {
      "type": "header",
      "content": "Highlight 2"
    },
    {
      "type": "url",
      "id": "highlight-2",
      "label": "Page"
    }
  ]
}
{% endschema %}
