<section class="lg-page-banner {{ section.settings.background-color }}">
  <div class="lg-row lg-grid-4">
    <div class="lg-col lg-banner-details lg-grow">
      <h1>{{ section.settings.title }}</h1>
      {%- if section.settings.description != blank -%}
        <p>{{ section.settings.description }}</p>
      {%- endif -%}
    </div>
    <div class="lg-col lg-highlight-1">
      <a href="#" class="lg-card lg-collection-card">
        <div class="lg-card-image">
          <div class="lg-image-container">
            <img src="https://picsum.photos/400/500" alt="">
          </div>
        </div>
        <div class="lg-card-details">
          <h4>Title of Thing</h4>
        </div>
      </a>
    </div>
    <div class="lg-col lg-highlight-2">
      <a href="#" class="lg-card lg-collection-card">
        <div class="lg-card-image">
          <div class="lg-image-container">
            <img src="https://picsum.photos/500/400" alt="">
          </div>
        </div>
        <div class="lg-card-details">
          <h4>Title of Thing</h4>
        </div>
      </a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "background-color",
      "options": [
        {
          "value": "bg-dark",
          "label": "Dark"
        },
        {
          "value": "bg-light",
          "label": "Light"
        }
      ],
      "default": "bg-light",
      "label": "Background Color"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "t:sections.main-list-collections.settings.title.default"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "Description"
    }
  ]
}
{% endschema %}
