<div class="lg-page-banner {{ section.settings.background-color }}">
  {% render 'banner',
    title: page.title,
    description: section.settings.description,
    highlight-1: section.settings.highlight-1,
    highlight-2: section.settings.highlight-2
  %}
</div>

{% unless template.suffix == "about" or template.suffix == "contact" %}
  <section class="{% if template.suffix == "reviews" %}bg-light{% endif %}">
    <div class="lg-row">
      <div class="lg-page-content lg-col">
        {{ page.content }}
      </div>
    </div>
  </section>
{% endunless %}

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "background-color",
      "options": [
        {
          "value": "bg-dark",
          "label": "Dark"
        },
        {
          "value": "bg-light",
          "label": "Light"
        }
      ],
      "default": "bg-light",
      "label": "Background Color"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Highlight 1"
    },
    {
      "type": "url",
      "id": "highlight-1",
      "label": "Page"
    },
    {
      "type": "header",
      "content": "Highlight 2"
    },
    {
      "type": "url",
      "id": "highlight-2",
      "label": "Page"
    }
  ]
}
{% endschema %}
